.spinner {
  @apply inline-block w-6 h-6 border-3 rounded-full;
  border-color: var(--color-primary);
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
